body {
	padding-top: 70px;
}

.mean-badge {
	text-align: center;
}

.mean-badge-icon img {
	width: 150px;
	height: 150px;
	margin: 5px auto;
}

.mean-badge-title {
	font-size: 2em;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}
