<nav class="navbar navbar-inverse" ng-controller="StoreHeaderController as ctrl">

	<div class="container">

		<div class="navbar-header">

			<a class="navbar-brand" href="#">MEAN Store <!-- <img alt="Brand" src="..."> --></a>

			<div class="navbar-left">

				<ul class="nav navbar-nav">

					<li ng-class="{active: ctrl.isActive('about')}">
						<a href="/#/about">About</a>
					</li>

					<li ng-class="{active: ctrl.isActive('shop')}">
						<a href="/#/shop">Shop</a>
					</li>

				</ul>

			</div>

		</div>

		<div class="navbar-right">
		
			<div class="navbar-text cart-icon">
				<a href="/#/cart">
					<span class="glyphicon glyphicon-shopping-cart"></span>
				</a>
			</div>

			<p class="navbar-text">
				<a href="/#/login">Login</a>
			</p>

			<span class="navbar-text" style="color:#fff">/</span>

			<p class="navbar-text">
				<a href="/#/register">Register</a>
			</p>

		</div>

	</div>

</nav>
